<div layout="column" class="login">
	<h4>Login</h4>
	<div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
      <p>{{result}}</p>
    </div>
	<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" layout-padding>
		<form ng-submit="login()" class="login-form" name="loginForm">
			<md-input-container>
				<label>Email</label>
				<input ng-model="user.email" type="email" required>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input ng-model="user.password" type="password" required>
			</md-input-container>
			<div layout="row" layout-align="end end">
				<md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid">Login</md-button>
			</div>
		</form>
	</md-whiteframe>	
</div>
