/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import (inline) '../../vendor/angular-material/angular-material.css';

@import 'variables.less';
@import 'animations.less';


/**
 * Typography
 */

 body {
  font-family: @font-face;
  font-size: @font-size;
 }

.header {
    .navbar {
      margin-bottom: 0px;
    }
    .brand-icon {
      font-size: 17px;
      margin-right: -4px;
    }
    .brand-title {
      font-family: tahoma;
      margin-left: 0;
      font-size: 18px;
    }
    .custom-navlinks {
      font-size: 12px;
    }
}

.footer {
  margin-top: 50px;

  .footer-inner {
    border-top: 1px solid #DDD;
  }
}

.side-navbar {
  min-width: 50px;
  width: 20%;
  min-height: 400px;
  border-right: 1px solid lightgray;
  background-color: #FEFEFE;
}

@import '../app/dashboard/dashboard.less';
@import '../app/login/login.less';
@import '../app/signup/signup.less';
