<div layout="column" class="signup">
	<h4>User Registration</h4>
	<div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
      <p>{{result}}</p>
    </div>
	<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" layout-padding>
		<form class="signupForm">
			<md-input-container>
				<label>Email</label>
				<input ng-model="user.email" type="email" required>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input ng-model="password" type="password" required>
			</md-input-container>
			<md-input-container>
				<label>Re-Type Password</label>
				<input ng-model="user.password" type="password" required>
			</md-input-container>			
			<div layout="row" layout-align="end end">
				<md-button class="md-raised md-primary" ng-click="save()" ng-disabled="signupForm.$invalid">Register</md-button>
			</div>
		</form>
	</md-whiteframe>	
</div>
